.chat {
  display: flex;
  flex-direction: column;
  .chat__message {
    width: 50%;
    height: 70%;
    width: 100%;
    padding: 20px 10px;
    overflow: scroll;
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    li {
      span {
        font-weight: 600;
      }
      .self {
        color: $black;
      }
      .out {
        color: $orange;
      }
    }
  }
  .chat__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
    input {
      height: 50px;
      width: 120%;
      padding: 0 25px;
      box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
    }
  }
}
