<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Guess Mine
        link(rel="stylesheet", href="../styles/style.css")
    body
        .loginBox
            form#jsLogin
                input(placeholder="Whats your nickname", type="text")
        .gameContainer#jsGame
            .main
                canvas.canvas#jsCanvas
                .controls#jsControls
                    button#jsMode Fill
                    button#jsMode Clear
                .colors
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
                    .color.jsColor
            .chat#jsChat
                ul.chat__message#jsMessage
                form.chat__form#jsSendMsg
                    input(type="text", placeholder="Write a message")
        script.
            window.events = !{events}
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")